<footer>
    <div class="container-fluid appFooter clearfix">
        <div class="footerNavSocial clearfix">
            <ul>
                <li><a href=""><span class="fa fa-google"></span></a></li>
                <li><a href=""><span class="fa fa-facebook"></span></a></li>
                <li><a href=""><span class="fa fa-twitter"></span></a></li>
            </ul>
        </div>
        <div class="footerNav clearfix">
            <ul>
                <li><a href="">About us</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms of use</a></li>
                <li><a href="">Testimonial</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div><br/>
    </div>
</footer>