<div class="orderContent">
    <app-header></app-header>
    <div class="container clearfix">
        <div class="clearfix confirmFbContent">
            <form name="confirmFb" action="/connect/facebook" method="POST">
                <input type="hidden" name="scope" value="email" />
                <p>Your name &amp; other basic information will be accessed from your Facebook account. Click here to <br/>
                    <button class="btn btn-primary col-md-3" type="submit">Connect to Facebook</button>
                </p>
            </form>   
        </div>
    </div>
    <app-footer></app-footer>
</div>