<div class="container-fluid mainActionBlock clearfix" ng-controller="mainActionController">
    <div class="">
        <div class="col-md-8 actionBtn">
            <p>Shifting your home is no more a worry.<br/> Provide your location details &amp; we will take care of the rest.<br/> Get an <u>Instant Quote</u> in just 2 minutes with out any payment.</p>
            <div class="shiftNowBtn">
                <a ui-sref="order_begin" class="btn col-md-4 btn_orange"> shift <span class="glyphicon glyphicon-home"> </span> now </a>
            </div>
        </div>
        <div class="col-md-4 packagingImg">
            <img src='./assets/images/packingAndLoading.jpg' alt='Loading' title="Packing & Loading" />
        </div>
    </div>
</div>