<div class="container-fluid shiftProcess clearfix">    
        <div class="shiftProcessHead">
            <h2><b>Our Process</b></h2>            
        </div>
        <div class="shiftProcessCont row">
<!--
            <div class="col-md-4">
                Its just a 3 step process that needs to be followed.
                <ul class="shiftProcessSteps">
                    <li>Provide your From and To location</li>
                    <li>checklist your articles to be moved</li>
                    <li>Get your instant quote and pay online</li>
                </ul>
                <br/> &amp; we will take care of the rest..
            </div>
-->
            <div class="col-md-10">
                <div class="shiftProcessImg"><img src='./assets/images/shiftProcessNew1.png' alt='Process' title="Process" /></div>    
            </div>       
            <div class="col-md-2">
                <a ui-sref="order_begin" class="btn btn_orange"> Get your Quote now </a>
            </div>
        </div>
</div>