<!DOCTYPE html>
<html lang="en" ng-App="myApp">
{% include 'header.html' %}

<body>

	{% include 'navigation.html'%}


	<!--<div class="container-fluid" style="margin-top:0px;height:500px;">-->
	
		
			
		
			<!--  <div id="first-slider">
			    <div id="carousel-example-generic" class="carousel slide carousel-fade">
			        
			        <ol class="carousel-indicators">
			            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
			        </ol>
			        
			        <div class="carousel-inner" role="listbox">
			           
			            <div class="item active slide1">
			                <div class="row"><div class="container">
			                    <div class="col-md-3 text-right">
			                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
			                    </div>
			                    <div class="col-md-9 text-left">
			                        <h3 data-animation="animated bounceInDown">Redefining Logistics In India</h3>
			                        <h4 data-animation="animated bounceInUp">Serving Customers and Business</h4>             
			                     </div>
			                </div></div>
			             </div> 
			           
			            <div class="item slide2">
			                <div class="row"><div class="container">
			                    <div class="col-md-7 text-left">
			                        <h3 data-animation="animated bounceInDown">Marketplace for Logistics</h3>
			                        <h4 data-animation="animated bounceInUp">Competitive Pricing</h4>
			                     </div>
			                    <div class="col-md-5 text-right">
			                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/sp11uneml/rack_server_unlock.png">
			                    </div>
			                </div></div>
			            </div>
			           
			            <div class="item slide3">
			                <div class="row"><div class="container">
			                    <div class="col-md-7 text-left">
			                        <h3 data-animation="animated bounceInDown">Book Vehicle Based on Per KM</h3>
			                        <h4 data-animation="animated bounceInUp">Book in 3 Simple Steps</h4>
			                     </div>
			                    <div class="col-md-5 text-right">
			                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="{{url_for('static',filename='assets/images/logistics_shypz/Trucks.png')}}">
			                       
			                    </div>     
			                </div></div>
			            </div>
			           
			            <div class="item slide4">
			                <div class="row"><div class="container">
			                    <div class="col-md-7 text-left">
			                        <h3 data-animation="animated bounceInDown">Query,Select Items</h3>
			                        <h4 data-animation="animated bounceInUp">Book</h4>
			                     </div>
			                    <div class="col-md-5 text-right">
			                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">
			                    </div>  
			                </div></div>
			            </div>
			           
			    
			        </div>
			       
			        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
			        </a>
			        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
			        </a>
			    </div>
			</div>

			-->
			



			



			 <!--  <div style="width: 100%;height:500px;border:1px solid red;">

				<div class="container-fluid" style="border: 1px solid red;margin: 150px; padding: 40px;">
					Customer Type : 

				  <form action="/orderbooking" method="get">

					<div class="btn-group customer" data-toggle="buttons">
					  <label class="btn btn-primary active">
					    <input type="radio" name="options" value="Individual" autocomplete="off" checked> Individual
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="options" value="smb" autocomplete="off"> Small and Medium Businesses
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="options" value="ecomm" autocomplete="off"> Large E-Commerce Companies
					  </label>
					</div>

					<button type="submit" class="btn btn-primary">Book</button>

				  </form>

				</div>
			</div>-->


			 <div id="userinput" class="container-fluid">
		
				<form action="/showBookingNav" id="userform" class="form-inline formdiv" method="get">
					
					<div class="form-group-* input-group indiv">
						
						<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
						<input id="from" type="text" name="from" placeholder="From" class="form-control input-lg"/>
					</div>
					<div class="form-group-* input-group indiv">
						<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
						<input id="to" type="text" name="to" placeholder="To" class="form-control input-lg"/>
					</div>
					<div class="form-group-* input-group indiv">
					
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						<input id="when" type="text" name="when" placeholder="When" class="form-control input-lg" />
					</div>
					
					<div class="form-group-* input-group indiv">
					
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<select class="form-control input-lg" id="customertype">
						    <option>Select Customer Type</option>
						    <option value="Individual">Individual</option>
						    <option value="smb">Small and Medium Businesses</option>
						    <option value="ecomm">Large E-Commerce Companies</option>
						</select>
						
					</div>
					
					<div style="display:inline;"  class="form-group-* input-group indiv">
						<input id="submit" type="submit" name="submitBtn" value="Submit" class="btn btn-primary btn-lg"/>
					</div>
		
				</form>
		
			</div>
	
			 
			 <!--  <div id="estimate" class="container-fluid">	
				 <div class="row">
				    <div class="col-lg-12 panel panel-info">
				    	<div class="panel-body infoBookDiv"><label for="Distance">Distance</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="est_dist"></span></div>
				    </div>
				  </div>
				  
				  <div class="row">
				    <div class="col-lg-12 panel panel-info">
				    	<div class="panel-body infoBookDiv"><label for="Time">Time</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="est_time"></span></div>
				    </div>
				  </div>
				
				  <div class="row">
				    <div class="col-lg-12 panel panel-info">
				    	<div class="panel-body infoBookDiv"><label for="Estimated Fare">Fare</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="est_fare"></span></div>
				    </div>
				  </div>
				
				
				
				
			</div>
	
			<div id="map">
				
			</div>
			-->
			
			
		<script type="text/javascript">
		
		function activateFromPlacesSearch(){

			var input = document.getElementById('from');
			var autocomplete = new google.maps.places.Autocomplete(input);

			autocomplete.addListener('place_changed',function(){
				var place = autocomplete.getPlace();
				console.log(place);

			});
			/*
			autocomplete.bindTo('bounds', map);
			var infowindow = new google.maps.InfoWindow();
			var infowindowContent = document.getElementById('infowindow-content');
	        infowindow.setContent(infowindowContent);
	        var marker = new google.maps.Marker({
	          map: map,
	          anchorPoint: new google.maps.Point(0, -29)
	        });
			
			autocomplete.addListener('place_changed', function() {
				
				var place = autocomplete.getPlace();
				console.log(place);
				
				
			});*/
			
			
			
		}

		function activateToPlacesSearch(){

			var input1 = document.getElementById('to');
			var autocomplete1 = new google.maps.places.Autocomplete(input1);
		}
		
		function activatePlacesSearch(){
			activateFromPlacesSearch();
			activateToPlacesSearch();

		}
		</script>
			

			
		
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV-p2cQJYytd8L-b4Gen2gvYrJg5xA4w8&libraries=places&callback=activatePlacesSearch"></script>
		
		
		
	  

	<!--</div>-->

	
	
	{% include 'footer.html' %}
	
</body>
</html>