<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}

<body>

	{% include 'navigation.html'%}


	<!--<div class="container-fluid" style="margin-top:0px;height:500px;">-->
	
		
			

			<div id="first-slider">
			    <div id="carousel-example-generic" class="carousel slide carousel-fade">
			        <!-- Indicators -->
			        <ol class="carousel-indicators">
			            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
			        </ol>
			        <!-- Wrapper for slides -->
			        <div class="carousel-inner" role="listbox">
			            <!-- Item 1 -->
			            <div class="item active slide1">
			                <div class="row"><div class="container">
			                    <div class="col-md-3 text-right">
			                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
			                    </div>
			                    <div class="col-md-9 text-left">
			                        <h3 data-animation="animated bounceInDown">Redefining Logistics In India</h3>
			                        <h4 data-animation="animated bounceInUp">Serving Customers and Business</h4>             
			                     </div>
			                </div></div>
			             </div> 
			            <!-- Item 2 -->
			            <div class="item slide2">
			                <div class="row"><div class="container">
			                    <div class="col-md-7 text-left">
			                        <h3 data-animation="animated bounceInDown">Marketplace for Logistics</h3>
			                        <h4 data-animation="animated bounceInUp">Competitive Pricing</h4>
			                     </div>
			                    <div class="col-md-5 text-right">
			                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/sp11uneml/rack_server_unlock.png">
			                    </div>
			                </div></div>
			            </div>
			            <!-- Item 3 -->
			            <div class="item slide3">
			                <div class="row"><div class="container">
			                    <div class="col-md-7 text-left">
			                        <h3 data-animation="animated bounceInDown">Book Vehicle Based on Per KM</h3>
			                        <h4 data-animation="animated bounceInUp">Book in 3 Simple Steps</h4>
			                     </div>
			                    <div class="col-md-5 text-right">
			                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="{{url_for('static',filename='assets/images/logistics_shypz/Trucks.png')}}">
			                        <!--http://s20.postimg.org/eq8xvxeq5/globe_network.png-->
			                    </div>     
			                </div></div>
			            </div>
			            <!-- Item 4 -->
			            <div class="item slide4">
			                <div class="row"><div class="container">
			                    <div class="col-md-7 text-left">
			                        <h3 data-animation="animated bounceInDown">Query,Select Items</h3>
			                        <h4 data-animation="animated bounceInUp">Book</h4>
			                     </div>
			                    <div class="col-md-5 text-right">
			                        <img style="max-width: 200px;"  data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">
			                    </div>  
			                </div></div>
			            </div>
			            <!-- End Item 4 -->
			    
			        </div>
			        <!-- End Wrapper for slides-->
			        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
			        </a>
			        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
			        </a>
			    </div>
			</div>


			



			



			<div style="width: 100%;height:500px;border:1px solid red;">

				<div class="container-fluid" style="border: 1px solid red;margin: 150px; padding: 40px;">
					Customer Type : 

					<!--<div id="group" class = "btn-group btn-group-lg">

					   <button id="individual" type = "button" class = "btn btn-default" data-toggle = "button">Individual</button>
					   <button id="smb" type = "button" class = "btn btn-default" data-toggle = "button">Small and Medium Businesses</button>
					   <button id="ecomm" type = "button" class = "btn btn-default" data-toggle = "button">Large E-Commerce Companies</button>
					   
					</div>-->

				  <form action="/userbookingform" method="post">

					<div class="btn-group customer" data-toggle="buttons">
					  <label class="btn btn-primary active">
					    <input type="radio" name="options" value="Individual" autocomplete="off" checked> Individual
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="options" value="smb" autocomplete="off"> Small and Medium Businesses
					  </label>
					  <label class="btn btn-primary">
					    <input type="radio" name="options" value="ecomm" autocomplete="off"> Large E-Commerce Companies
					  </label>
					</div>

					<button type="submit" class="btn btn-primary">Book</button>

				  </form>

				</div>
			</div>


			<div style="width: 100%;height:500px;border:1px solid green;">

				text
			</div>
			



		
		
	  

	<!--</div>-->

	
	{% include 'footer.html' %}

	
</body>
</html>